[flake8]
max-line-length = 300
extend-ignore =
    E203
    W503
    F401
    C901
    N807
    E731
    F541
    W291
    F821
    
    

exclude =
    .github,
    .pytest_cache,
    .venv,
    .vscode,
    archive,
    data,
    docs,
    scripts,
    ./uv.lock,
    ./setup.py,
    ./pytest.txt,
    ./README.md,
    build,
    __pycache__,
    src/legacy/*,
    test/*,
    tests/*,


    
    
